.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6vh;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
}

.navbar-link {
  margin: 0;
  text-decoration: none;
}

.navbar-header {
  margin-left: -48px;
  align-items: center;
  text-align: center;
}

.navbar-title {
  font-size: 32px;
  font-weight: bold;
  /* margin-left: 70px; */
  padding: 6px 0;
}
