.register-page {
  background: linear-gradient(
    to left,
    #9ea6af,
    #ccd5dd 25%,
    #ccd5dd 75%,
    #b2bbc5 100%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background-color: rgb(248 245 244);
  height: 70%;
  width: 30%;
  border-radius: 10px;
  border-style: solid;
  border-color: #b8c2cc;
  border-width: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.title {
  font-family: Roboto !important;
  margin: 0;
  font-size: 60px;
  color: rgb(128, 21, 13);
  font-weight: bold;
  padding: 0;
}

.under-title {
  margin: 0;
  font-size: 20px;
}

span {
  font-weight: bold;
  font-style: italic;
}

.register-form-container {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -25%;
}

.register-form {
  display: grid;
  grid-template-columns: repeat(2, 70%);
  grid-template-rows: repeat(6, 12%);
  gap: 10px;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

#email,
#password,
#username,
#firstName,
#lastName,
#userType {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  background-color: #dbdbdb;
  margin: 0 !important;
}

.submit-button {
  width: 70%;
  padding: 20px;
  background-color: rgb(128, 21, 13);
  border: 0;
  border-radius: 5%;
  color: rgb(248 245 244);
  grid-column: 2;
  margin-left: -35%;
  font-size: 16px;
  margin-top: 24px;
}

.submit-button:hover {
  background-color: rgb(185, 29, 18);
  cursor: pointer;
  font-weight: bold;
}

.form-label {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.google-button {
  margin-bottom: 20px !important;
}
