.locations-list {
  background-color: rgb(233, 230, 225);
  width: 15%;
  height: 94vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.location-row {
  width: 100%;
  padding: 10px 10px 10px 30px;
  height: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
}

.location-row:last-child {
  border-bottom: none;
}

.location-row:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
